<div class="container mt-4">
  <div class="row" *ngIf="cartItems.length > 0">
    <div class="col-md-8">
      <h2>Your Cart</h2>
      <div class="row">
        <div class="col-md-6" *ngFor="let item of cartItems">
          <div class="card mb-3">
            <mat-card class="example-card">
              <mat-card-header>
                <!-- Add the dynamic title and subtitle based on 'item' properties -->
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ item.product.name }}</mat-card-title>
                <mat-card-subtitle>Price: ${{ item.product.price }}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image class="mx-auto" [src]="item.product.imageUrl" alt="Photo of a Shiba Inu" height="180px" width="270px"> 
              <mat-card-content>
                <!-- Use the 'item' properties to display the dynamic content -->
                <p class="mt-2 mb-2"><b>{{ item.product.name }}</b></p>
                <p>Description: {{ item.product.description }}</p>
              </mat-card-content>
              <mat-card-actions>
                <div class="quantity-controls mx-auto ">
                  <button class="btn btn-sm btn-secondary" (click)="decreaseQuantity(item)">-</button>
                <span class="quantity">{{ item.quantity }}</span>
                <button class="btn btn-sm btn-secondary" (click)="increaseQuantity(item)">+</button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mt-5 checkout-section">
        <div class="card-body">
          <h4 class="card-title">Total Bill: {{ getTotalBill() }}$</h4>
          <div *ngFor="let item of cartItems">
            <p>{{ item.product.name }} ({{ item.quantity }} x ${{ item.product.price }})</p>
          </div>
          <button class="btn btn-primary checkout-btn">Checkout</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="cartItems.length === 0" class="text-center mt-4">
    <p>Your cart is empty.</p>
  </div>
</div>
