<div class="container">
    <div class="row">
        <div class="col my-2">
            <h1 class="text-center">Home Page</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, harum? Vero cum odit nemo facilis?
                Dolorum, alias fugit. Error in inventore consequatur est laborum eaque cum velit fuga dolorem optio!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae magnam quis accusantium. Itaque dolorem
                debitis est laborum beatae possimus eligendi minus placeat? Perspiciatis quam vero quidem laudantium
                dolor cum? Fugiat!</p>

            <!-- Angular Material Buttons -->
            <div class="button-container d-flex justify-content-center">
                <button mat-raised-button color="primary" [routerLink]="['/customer','signin']">Customer Login</button>
                <button mat-raised-button color="accent" [routerLink]="['/customer','signup']" >Customer Sign Up</button>
                <button mat-raised-button color="warn" [routerLink]="['/agent','signin']">Agent Login</button>
                <button mat-raised-button color="success" [routerLink]="['/agent','signup']">Agent Sign Up</button>
            </div>
        </div>
    </div>
</div>
