
<mat-toolbar [style.backgroundColor]="' #0066cc'" [style.color]="'white'">
  <button mat-icon-button #toggle (click)="sidenav.toggle()">
    <mat-icon >menu</mat-icon>
  </button>
  <span>E-commerce</span>
  <span class="example-spacer"></span>
      <i class="fa-solid fa-cart-shopping" ></i>
      <span style="margin-left:10px;margin-right: 20px;"><a  routerLink="/cart">Cart</a></span>

      <i class="fa-solid fa-right-to-bracket" ></i>
      <span style="margin-left:10px;margin-right: 20px;"><a  routerLink="/home">Login</a></span>
</mat-toolbar>

<mat-sidenav-container>
<mat-sidenav #sidenav="matSidenav" opened mode="side" >
  <ul class="nav-list">
      <li class="nav-list-item" *ngFor="let item of sideNavItems ">
        <i class="{{item.icon}}" ></i>
        <span><a  routerLink="/home">{{item.name}}</a></span>
      </li>
  </ul>
</mat-sidenav>
<mat-sidenav-content>
  <div >
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>