@import '@angular/material/prebuilt-themes/indigo-pink.css';

.field{
    width: 100%;
    font-size: 13px;

}

.form-fields-container {
    display: flex;
    gap: 10px; /* Adjust the gap value to control the spacing between fields */
  }

.radio{
    margin-bottom: 0%;
}  