<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <mat-card class="my-3">
                <form>
                    <h1 class="text-center">Sign Up Here</h1>
                    <div class="m-3">
                            {{user | json}}
                        <div class="form-fields-container">
                            <mat-form-field class="field mr-2" appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="first name" #fname="ngModel" [(ngModel)]="user.fname" required name="fname">
                               <div *ngIf="fname.invalid && ( fname.touched)">  <!--isSubmited ||  -->
                                    <mat-hint class="text-danger" *ngIf="fname.errors?.['required']">first name
                                        is required</mat-hint>
                                </div>
                            </mat-form-field>

                            <mat-form-field class="field mx-auto" appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="last name" #lname="ngModel" required [(ngModel)]="user.lname"  name="lname">
                                <div *ngIf="lname.invalid && (lname.touched)">
                                    <mat-hint class="text-danger" *ngIf="lname.errors?.['required']">last name
                                        is required</mat-hint>
                                </div>
                            </mat-form-field>
                        </div>
                        <mat-form-field class="field" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="pat@example.com" required name="email" [(ngModel)]="user.email">
                        </mat-form-field>
                        <div>
                            <label>Gender</label>
                            <mat-radio-group color="primary"  appearance="outline" [(ngModel)]="user.gender" name="gender">
                              <mat-radio-button value="M">Male</mat-radio-button>
                              <mat-radio-button value="F">Female</mat-radio-button>
                            </mat-radio-group>
                          </div>

                        

                        <mat-form-field class="field">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="12/**/**91" name="dob" [(ngModel)]="user.dob">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="field" appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="user.password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
    
                        <mat-form-field class="field" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="97********01" required>
                        </mat-form-field>
                        
                        <mat-checkbox color="primary" >Agree with terms and conditions..</mat-checkbox>

                        <div class="container text-center">
                            <button class="text-center" mat-raised-button color="accent" type="submit">Resgister</button>
                        </div>
                    </div>


                </form>
            </mat-card>
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </div>
    </div>
</div>
